* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
body {
    font-family: 'Inter', sans-serif;
    background: #0F172B;
    color: #F1F5F9;
}
header {
    max-width: 1200px;
    margin: 0 auto;
}
h1 {
    color: #50BBFF;
    font-size: 4rem;
}
p {
    color: #90A1B9;
    margin-bottom: 12px;
}
nav {
    display: flex;
    align-items: center ;
    justify-content: space-between;
    padding: 20px;
    position: sticky;
    border-bottom: 2px;
}
.slogan {
    margin: 0 auto;
    padding: 36px 120px;
}
hr {
    opacity: 30%;
    margin-bottom: 30px;
}
h2 {
    padding: 10px 0;
    margin-
}
.card {
    background: #1D2B43;
    border-radius: 10px;
}
main {
    max-width: 1200px;
    margin: 0 auto;
}
.path {
    padding: 64px 24px;
    display: flex;
}
.card {
    margin: 0 16px;
    padding: 16px;
}
h3 {
    margin-top: 16px;
    margin-bottom: 16px;
}
#hot {
    display: flex;
    border-radius: 20px;
    background: #F22F3F;
    width: 44px;
    height: 24px;
    align-items: center;
    justify-content: center;
}
#new {
    display: flex;
    border-radius: 20px;
    background: #02C658;
    width: 44px;
    height: 24px;
    align-items: center;
    justify-content: center;
}
#trending {
    display: flex;
    border-radius: 20px;
    background: #2B7FFF;
    width: 74px;
    height: 24px;
    align-items: center;
    justify-content: center;
}
li {
    list-style: none;
}
